<a href="https://colab.research.google.com/github/Ragavan7071/library_chatbot/blob/main/library_chatbot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone "https://github.com/Ragavan7071/library_chatbot.git"

In [ ]:
!pip install flask_ngrok

In [ ]:
!pip install ChatterBot

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn import neighbors
import random
import math
from chatterbot.trainers import ChatterBotCorpusTrainer
from chatterbot import ChatBot
from chatterbot.trainers import UbuntuCorpusTrainer 
import requests
import json
import configparser as cfg

In [ ]:
data = pd.read_csv("/content/library_chatbot/books.csv", error_bad_lines = False)
data.head()

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

   bookID  ...        publisher
0       1  ...  Scholastic Inc.
1       2  ...  Scholastic Inc.
2       4  ...       Scholastic
3       5  ...  Scholastic Inc.
4       8  ...       Scholastic

[5 rows x 12 columns]

In [ ]:
top_books = data[data['ratings_count'] > 1000000]
top_books = top_books.sort_values(by='average_rating', ascending=False).head(20)

In [ ]:
top_vote = data.sort_values(by='ratings_count', ascending=False).head(20)

In [ ]:
list(set(top_books['title'].values) - set(top_vote['title'].values))

['The Notebook (The Notebook  #1)',
 'The Secret Life of Bees',
 'Brave New World',
 'Memoirs of a Geisha',
 "Charlotte's Web",
 'Slaughterhouse-Five',
 'Water for Elephants']

In [ ]:
list(set(top_vote['title'].values) - set(top_books['title'].values))

['Of Mice and Men',
 'Twilight (Twilight  #1)',
 'The Da Vinci Code (Robert Langdon  #2)',
 'Lord of the Flies',
 'The Catcher in the Rye',
 'The Alchemist',
 'Romeo and Juliet']

In [ ]:
new_data = data.copy()
def fun_only_author(text):
    arlen = text.split('/')
    return arlen[0]

In [ ]:
new_data['only_author'] = new_data['authors'].apply(lambda x : fun_only_author(x))

In [ ]:
total_rating = new_data.drop_duplicates(subset=['only_author', 'title'], keep='first')
total_rating = total_rating.groupby(by=['only_author']).agg({'average_rating': ['sum']})
total_rating.columns = ['total_rating']
total_rating.reset_index(inplace=True)
total_rating = total_rating.sort_values(by=['total_rating'], ascending=False)
total_rating

              only_author  total_rating
3753         Stephen King        250.79
3006       P.G. Wodehouse        187.31
4161  William Shakespeare        178.45
1603       J.R.R. Tolkien        172.22
3536     Rumiko Takahashi        163.28
...                   ...           ...
146      Andrew      Hunt          0.00
1654    James Craig Holte          0.00
1751     Jasmine C.M. Luk          0.00
935          Dobrica Erić          0.00
3360         Rick Osborne          0.00

[4215 rows x 2 columns]

In [ ]:
total_book = new_data.groupby(by=['only_author']).agg({'title': ['nunique']})
total_book.columns = ['total_book']
total_book.reset_index(inplace=True)
total_book = total_book.sort_values(by=['total_book'], ascending=False)
total_book

                only_author  total_book
3753           Stephen King          63
4161    William Shakespeare          45
3006         P.G. Wodehouse          45
29          Agatha Christie          41
1603         J.R.R. Tolkien          41
...                     ...         ...
1727    Jane Parker Resnick           1
1729            Jane Robins           1
1731          Jane Walmsley           1
1732     Jane Werner Watson           1
4214  Éric-Emmanuel Schmitt           1

[4215 rows x 2 columns]

In [ ]:
avg_author = pd.merge(total_book, total_rating, on='only_author', how='outer')
avg_author['average_rating'] = round(avg_author['total_rating'] / avg_author['total_book'], 2)
avg_author = avg_author[avg_author['total_book'] > 26]
avg_author = avg_author.sort_values(by=['average_rating'], ascending=False)
avg_author

               only_author  total_book  total_rating  average_rating
4           J.R.R. Tolkien          41        172.22            4.20
7         Rumiko Takahashi          39        163.28            4.19
11              C.S. Lewis          32        134.02            4.19
2           P.G. Wodehouse          45        187.31            4.16
12         Terry Pratchett          31        127.55            4.11
9               Roald Dahl          35        141.66            4.05
6          Mercedes Lackey          40        160.11            4.00
18              Mark Twain          27        107.68            3.99
0             Stephen King          63        250.79            3.98
1      William Shakespeare          45        178.45            3.97
17             Dean Koontz          27        107.07            3.97
15            Dick Francis          29        114.73            3.96
3          Agatha Christie          41        161.82            3.95
16  Gabriel García Márquez          28        109.57            3.91
5          James Patterson          41        159.91            3.90
10           Margaret Weis          35        134.08            3.83
8         Orson Scott Card          38        144.22            3.80
13            Sandra Brown          30        112.50            3.75
14           Piers Anthony          30        111.50            3.72
19         Francine Pascal          27         99.05            3.67

In [ ]:
total_vote = new_data.drop_duplicates(subset=['only_author', 'title'], keep='first')
total_vote.reset_index(inplace=True)
total_vote = total_vote[['only_author', 'title', 'average_rating', 'ratings_count']]
total_vote

               only_author  ... ratings_count
0             J.K. Rowling  ...       2095690
1             J.K. Rowling  ...       2153167
2             J.K. Rowling  ...          6333
3             J.K. Rowling  ...       2339585
4             J.K. Rowling  ...         41428
...                    ...  ...           ...
10416  William T. Vollmann  ...           156
10417  William T. Vollmann  ...           783
10418  William T. Vollmann  ...           820
10419  William T. Vollmann  ...           769
10420           Mark Twain  ...           113

[10421 rows x 4 columns]

In [ ]:
C = total_vote.average_rating.mean()
m = total_vote.ratings_count.quantile(0.9)
total_vote = total_vote[total_vote['ratings_count'] >= m]
total_vote.head()

    only_author  ... ratings_count
0  J.K. Rowling  ...       2095690
1  J.K. Rowling  ...       2153167
3  J.K. Rowling  ...       2339585
4  J.K. Rowling  ...         41428
6  J.K. Rowling  ...         28242

[5 rows x 4 columns]

In [ ]:
def weighted_rating(x, m=m, C=C):
    v = x['ratings_count']
    R = x['average_rating']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [ ]:
total_vote['score'] = total_vote.apply(weighted_rating, axis=1)
total_vote = total_vote.sort_values(by='score', ascending=False).head(20)
total_vote

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              only_author  ...     score
0            J.K. Rowling  ...  4.562503
3            J.K. Rowling  ...  4.553382
1            J.K. Rowling  ...  4.483618
4            J.K. Rowling  ...  4.461588
20         J.R.R. Tolkien  ...  4.460070
3955       Art Spiegelman  ...  4.437142
6137       Bill Watterson  ...  4.432808
3965       J.R.R. Tolkien  ...  4.419542
269        Hiromu Arakawa  ...  4.395999
6138       Bill Watterson  ...  4.395203
2651   George R.R. Martin  ...  4.392066
2937         Stephen King  ...  4.385661
9863            J.R. Ward  ...  4.374050
3527         Tsugumi Ohba  ...  4.367816
4896         Markus Zusak  ...  4.362925
6            J.K. Rowling  ...  4.356142
22         J.R.R. Tolkien  ...  4.355053
10153           Jon Stone  ...  4.349150
2762       Diana Gabaldon  ...  4.343357
6238          Neil Gaiman  ...  4.340458

[20 rows x 5 columns]

In [ ]:
top_pages = data.sort_values(by='  num_pages', ascending=False).head(20)

In [ ]:
title_value = data.title.unique()

In [ ]:
new_data.loc[ (new_data['average_rating'] >= 0) & (new_data['average_rating'] <= 1), 'rating_between'] = "between_0_to_1"
new_data.loc[ (new_data['average_rating'] > 1) & (new_data['average_rating'] <= 2), 'rating_between'] = "between_1_to_2"
new_data.loc[ (new_data['average_rating'] > 2) & (new_data['average_rating'] <= 3), 'rating_between'] = "between_2_to_3"
new_data.loc[ (new_data['average_rating'] > 3) & (new_data['average_rating'] <= 4), 'rating_between'] = "between_3_to_4"
new_data.loc[ (new_data['average_rating'] > 4) & (new_data['average_rating'] <= 5), 'rating_between'] = "between_4_to_5"
new_data.head(2)

   bookID  ...  rating_between
0       1  ...  between_4_to_5
1       2  ...  between_4_to_5

[2 rows x 14 columns]

In [ ]:
trial = new_data[['average_rating', 'ratings_count']]
data_model = np.asarray([np.asarray(trial['average_rating']), np.asarray(trial['ratings_count'])]).T
data_model

array([[4.570000e+00, 2.095690e+06],
       [4.490000e+00, 2.153167e+06],
       [4.420000e+00, 6.333000e+03],
       ...,
       [3.960000e+00, 8.200000e+02],
       [3.720000e+00, 7.690000e+02],
       [3.910000e+00, 1.130000e+02]])

In [ ]:
rating_between_df = new_data['rating_between'].str.get_dummies(sep=",")
rating_between_df.head()

   between_0_to_1  between_1_to_2  ...  between_3_to_4  between_4_to_5
0               0               0  ...               0               1
1               0               0  ...               0               1
2               0               0  ...               0               1
3               0               0  ...               0               1
4               0               0  ...               0               1

[5 rows x 5 columns]

In [ ]:
lang_df = new_data['language_code'].str.get_dummies(sep=",")
lang_df.head()

   ale  ara  en-CA  en-GB  en-US  eng  enm  ...  rus  spa  srp  swe  tur  wel  zho
0    0    0      0      0      0    1    0  ...    0    0    0    0    0    0    0
1    0    0      0      0      0    1    0  ...    0    0    0    0    0    0    0
2    0    0      0      0      0    1    0  ...    0    0    0    0    0    0    0
3    0    0      0      0      0    1    0  ...    0    0    0    0    0    0    0
4    0    0      0      0      0    1    0  ...    0    0    0    0    0    0    0

[5 rows x 27 columns]

In [ ]:
engine_features = pd.concat([rating_between_df, lang_df, new_data['average_rating'], new_data['ratings_count']], axis=1)
engine_features.head()

   between_0_to_1  between_1_to_2  ...  average_rating  ratings_count
0               0               0  ...            4.57        2095690
1               0               0  ...            4.49        2153167
2               0               0  ...            4.42           6333
3               0               0  ...            4.56        2339585
4               0               0  ...            4.78          41428

[5 rows x 34 columns]

In [ ]:
min_max_scaler = MinMaxScaler()
engine_features = min_max_scaler.fit_transform(engine_features)
engine_model = neighbors.NearestNeighbors(n_neighbors=6, algorithm='ball_tree')
engine_model.fit(engine_features)

NearestNeighbors(algorithm='ball_tree', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=6, p=2,
                 radius=1.0)

In [ ]:
dist, idlist = engine_model.kneighbors(engine_features)

In [ ]:
def book_recommendation_engine(book_name):
    book_list_name = []
    book_list_name_au=[]
    book_id = new_data[new_data['title'] == book_name].index
    book_id = book_id[0]
#     print('book_id', book_id)
    for newid in idlist[book_id]:
#         print(newid)
        book_list_name.append(new_data.loc[newid].title)
        book_list_name_au.append(new_data.loc[newid].authors)
#         print(new_data.loc[newid].title)
    return book_list_name,book_list_name_au

nlp

In [ ]:
from chatterbot.trainers import ChatterBotCorpusTrainer
from chatterbot import ChatBot
from chatterbot.trainers import UbuntuCorpusTrainer 
chatbot = ChatBot('cynrasu',
    storage_adapter='chatterbot.storage.SQLStorageAdapter',
    logic_adapters=[
        {
            'import_path': 'chatterbot.logic.BestMatch',
            'default_response': 'sorry try some other books',
            'maximum_similarity_threshold': 0.90 

        }
    ]
)
 
 
trainer = ChatterBotCorpusTrainer(chatbot)

In [ ]:
trainer.train('/content/library_chatbot/dataset for lib.yml')
trainer.train('/content/library_chatbot/dataset for lib_2.yml')

Training dataset for lib.yml: [####################] 100%
Training dataset for lib_2.yml: [####################] 100%

suggestion

In [ ]:
def before_suggest(ij):  
  ij=ij.replace('suggest','')
  return ij.strip()

In [ ]:
def suggest(inp):
  mll=[]
  y=0
  inp=before_suggest(inp)
  for u_s in data['title']:
    low=u_s.lower()
    inp_s=inp.lower()
    if low == inp_s:
      book_sug,au=book_recommendation_engine(u_s)
      for x in range(len(book_sug)):
        m=book_sug[x]+" by "+au[x]
        mll.append((m))
      break
  return mll

dataset at lib

In [5]:
data_lib = pd.read_csv("/content/library_chatbot/Untitled spreadsheet - Sheet1.csv", error_bad_lines = False)
data_lib

    bookID                                              title  ... rack no   due
0        1  Harry Potter and the Order of the Phoenix (Har...  ...   111.0   NaN
1        2  Harry Potter and the Chamber of Secrets (Harry...  ...   112.0   NaN
2        3  Harry Potter and the Prisoner of Azkaban (Harr...  ...   113.0   NaN
3        4  Harry Potter Boxed Set  Books 1-5 (Harry Potte...  ...     NaN   1.0
4        5  Unauthorized Harry Potter Book Seven News: "Ha...  ...   114.0   NaN
5        6             Artesia: Adventures in the Known World  ...     NaN   2.0
6        7    The John McPhee Reader (John McPhee Reader  #1)  ...   115.0   NaN
7        8                                  Uncommon Carriers  ...     NaN   3.0
8        9                          Heirs of General Practice  ...   116.0   NaN
9       10                              The Control of Nature  ...   117.0   NaN
10      11            Death on the Nile (Hercule Poirot  #17)  ...   118.0   NaN
11      12          Mrs. McGinty's Dead (Hercule Poirot  #30)  ...     NaN   4.0
12      13                         The Most of P.G. Wodehouse  ...   119.0   NaN
13      14                   Full Moon (Blandings Castle  #7)  ...     NaN   5.0
14      15            How Right You Are  Jeeves (Jeeves  #12)  ...   114.0   NaN
15      16              Life With Jeeves (Jeeves  #6  2  & 4)  ...   115.0   NaN
16      17                                       Spring Fever  ...   116.0   NaN
17      18                      Carry On  Jeeves (Jeeves  #3)  ...   117.0   NaN
18      19  Lord Emsworth and Others (Blandings Castle  #5.5)  ...     NaN   6.0
19      20                                            The Haj  ...   118.0   NaN
20      21                                            Mila 18  ...     NaN   NaN
21      22                                     A God in Ruins  ...   119.0   NaN
22      23                                         Battle Cry  ...     NaN   7.0
23      24                                    The Angry Hills  ...   120.0   NaN
24      25                                             Exodus  ...   121.0   NaN
25      26                                Oh  Play That Thing  ...   122.0   NaN
26      27                The Van (The Barrytown Trilogy  #3)  ...     NaN   8.0
27      28          Fish & Chips (The Barrytown Trilogie  #3)  ...   123.0   NaN
28      29                              The Giggler Treatment  ...     NaN   9.0
29      30                                A Star Called Henry  ...   124.0   NaN
30      31                                            The Van  ...   125.0   NaN
31      32                          Rover rettet Weihnachten.  ...   126.0   NaN
32      33                                        The Snapper  ...   127.0   NaN
33      34                                      Yeats Is Dead  ...     NaN  10.0
34      35  The Fantastic Vampire: Studies in the Children...  ...   128.0   NaN
35      36                                 A Dracula Handbook  ...     NaN  11.0
36      37  Real Estate Loopholes: Secrets of Successful R...  ...   129.0   NaN
37      38  Hope is the Thing with Feathers: A Personal Ch...  ...     NaN  12.0
38      39                Goodbye Forever (Sweet Dreams  #72)  ...   130.0   NaN
39      40                 Winter Dreams (Sweet Dreams  #141)  ...   131.0   NaN
40      41         First  Last and Always (Sweet Dreams  #96)  ...   132.0   NaN
41      42            P.S. I Love You (Sealed with a Kiss #4)  ...     NaN  13.0
42      43          Dark Lover (Black Dagger Brotherhood  #1)  ...   133.0   NaN
43      44      Lover Awakened (Black Dagger Brotherhood  #3)  ...     NaN  14.0
44      45                      All Things Wise and Wonderful  ...   136.0   NaN
45      46  CliffsNotes on Remarque's All Quiet on the Wes...  ...   129.0   NaN
46      47                     All Quiet on the Western Front  ...   130.0   NaN
47      48                             The Nightingale's Song  ...   131.0   NaN
48      49                                 Nightingale's Song  ...     NaN  15.0
49      50                           Gai-Jin (Asian Saga  #3)  ...   129.0   NaN
50      51                         Whirlwind (Asian Saga  #6)  ...     NaN  16.0
51      52                           Tai-Pan (Asian Saga  #2)  ...   130.0   NaN
52      53              Escape: The Love Story from Whirlwind  ...     NaN  17.0
53      54                                             Alaska  ...   133.0   NaN
54      55                                       The Drifters  ...   134.0   NaN
55      56                                           Sayonara  ...   135.0   NaN
56      57                                The Bridge at Andau  ...     NaN  18.0
57      58                                          Caribbean  ...   134.0   NaN
58      59         War and Remembrance (The Henry Family  #2)  ...     NaN  19.0

[59 rows x 15 columns]

In [ ]:
def before_check(ij):  
  ij=ij.replace('check','')
  return ij.strip()

In [ ]:
def seperate(aa):
  ap=''
  for a in aa:
    if a == '(':
      aa=aa.split("(")
  if len(aa)==2:
    ap=ap+aa[0]
  if len(aa)!=2:
    ap=aa

  return ap.strip()

In [ ]:
def check(inp):
  inp=before_check(inp)
  mll=[]	
  for u in data_lib['title']:
    lo=u.lower().strip()
    inp=inp.lower().strip()
    api=inp.split()  
    if lo==inp:
      ul=seperate(u)
      print(u)
      agg=data_lib[data_lib['title'].str.contains(ul, na=False)]
      agg=agg.head(1)
      avai=agg['availability'].reset_index(drop=True)
      due=agg['due'].reset_index(drop=True)
      rack=agg['rack no'].reset_index(drop=True)
      if avai[0].strip()=='yes':
        print("the book was in rack",rack[0])
        srack=str(int(rack[0]))
        mll.append('yes  the book is available')
        mll.append("The book "+u+ " was in rack "+srack)
      if avai[0].strip()=='no':
        print("the book will be return back within ",due[0],"days")
        sdue=str(int(due[0]))
        mll.append("sorry,the book "+u+" currently not available"+" The book will be return back within "+sdue+" days")
        mll.append("you can try some other books like")
        su=suggest(u)
        for s in su:
          mll.append(s)
  return mll

In [ ]:
def make_reply(input_book):
  inpp=input_book.replace("-",' tot ').replace("#",'<').replace(":",'>').strip()
  print(inpp)
  out=[]
  reply=chatbot.get_response(inpp)
  reply=reply.text
  reply=reply.replace(' tot ',"-").replace("<",' #').replace(">",':')
  reply_sp=reply.split()
  if reply_sp[0]=='suggest':
    print(reply)
    out.append("the suggestion for given book "+reply)
    out=suggest(reply)
  if reply_sp[0]=='check':
    out=check(reply)
  if reply=='sorry try some other books':
    out.append('sorry,please try some other books') 
  if out==[]:
    out.append('sorry,please try some other books')
  return out

In [ ]:
make_reply("can i get the book the van ")

can i get the book the van
The Van
the book will be return back within  8.0 days

['sorry,the book The Van currently not available The book will be return back within 8 days',
 'you can try some other books like',
 'The Van by Roddy Doyle',
 'On Genesis/A Refutation of the Manichees/The Unfinished Literal Meaning of Genesis (Works of St Augustine 1) by Augustine of Hippo/Boniface Ramsey/Edmund Hill',
 'The Golden Tulip by Rosalind Laker',
 'Active Literacy Across the Curriculum: Strategies for Reading  Writing  Speaking  and Listening by Heidi Hayes Jacobs',
 'If the River Was Whiskey: Stories by T. Coraghessan Boyle',
 '4:50 from Paddington / A Pocket Full of Rye (BBC Presents: Two Miss Marple Dramas) by Agatha Christie']

In [ ]:
check('the van')

The Van
the book will be return back within  8.0 days

['sorry,the book The Van currently not available The book will be return back within 8 days',
 'you can try some other books like',
 'The Van by Roddy Doyle',
 'On Genesis/A Refutation of the Manichees/The Unfinished Literal Meaning of Genesis (Works of St Augustine 1) by Augustine of Hippo/Boniface Ramsey/Edmund Hill',
 'The Golden Tulip by Rosalind Laker',
 'Active Literacy Across the Curriculum: Strategies for Reading  Writing  Speaking  and Listening by Heidi Hayes Jacobs',
 'If the River Was Whiskey: Stories by T. Coraghessan Boyle',
 '4:50 from Paddington / A Pocket Full of Rye (BBC Presents: Two Miss Marple Dramas) by Agatha Christie']

In [ ]:
suggest("Harry Potter and the Chamber of Secrets (Harry Potter  #2)")

['Harry Potter and the Chamber of Secrets (Harry Potter  #2) by J.K. Rowling',
 'The Complete Collected Poems by Maya Angelou',
 'Family (Firstborn  #4) by Karen Kingsbury',
 'And Still I Rise by Maya Angelou/Linda Sunshine/Diego Rivera',
 'The Last Lion: Winston Spencer Churchill: Visions of Glory 1874-1932 by William Manchester',
 'The Civil War  Vol. 1: Fort Sumter to Perryville by Shelby Foote']

colab

telegram part

In [ ]:
import requests
import json
import configparser as cfg
 
 
class telegram_chatbot():
 
    def __init__(self, config):
        self.token = self.read_token_from_config_file(config)
        self.base = "https://api.telegram.org/bot{}/".format(self.token)
 
    def get_updates(self, offset=None):
        url = self.base + "getUpdates?timeout=100"
        if offset:
            url = url + "&offset={}".format(offset + 1)
        r = requests.get(url)
        return json.loads(r.content)

    def send_message(self, msg, chat_id):
        url = self.base + "sendMessage?chat_id={}&text={}".format(chat_id, msg)
        if msg is not None:
            requests.get(url)
 
    def read_token_from_config_file(self, config):
        parser = cfg.ConfigParser()
        parser.read(config)
        return parser.get('creds', 'token')

In [ ]:
bot = telegram_chatbot("/content/drive/My Drive/chatbot python/config.cfg")

telegram output

In [ ]:
update_id = None
while True:
  try:
    updates = bot.get_updates(offset=update_id)
    updates = updates["result"]
    if updates:
        for item in updates:
            update_id = item["update_id"]
            try:
                message = str(item["message"]["text"])
                message = message.replace("/","")
                print(message)
            except:
                message = None
            from_ = item["message"]["chat"]["id"]
            print(message)
            replyto= make_reply(message)
            for re in replyto:
              bot.send_message(re.replace("#",'part'), from_)
               
            
  except :
    bot.send_message('The server is in maintence,please try after some times', from_)
    bot.send_message("the code is stoped",806993967)
    print('stoped')
    break

In [ ]:
!git clone "https://github.com/pik1989/PersonalizedChatBot.git"

Cloning into 'PersonalizedChatBot'...
remote: Enumerating objects: 24, done.
remote: Counting objects: 100% (24/24), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 24 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (24/24), done.

In [ ]:
%cd /content/PersonalizedChatBot

/content/PersonalizedChatBot

website path

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask, render_template, request
app = Flask(__name__)
run_with_ngrok(app)

@app.route("/")
def home():    
    return render_template("cit.html") 
@app.route("/get")
def get_bot_response():    
    userText = request.args.get('msg') 
    us=make_reply(userText)
    for u in us:   
      return u  
if __name__ == "__main__":    
    app.run()

dummy or trial part

In [ ]:
f=input("enter the book name :")
z=0
y=0 
au=[]
l=autocorrect(f,vocab, probs)
temp=generateTitleCase(l)
temp=temp.strip()
agg = data[data['title'].str.contains(temp, na=False)]
d=agg['title']
if len(d)==1:
  d=d.reset_index(drop=True)
  print("the book was",d[0])
  book_sug,au=book_recommendation_engine(d[0])
  print("\nThe suugesstion for gien book",d[0])
  for x in book_sug:
    print(x,"by",au[y])
    y=y+1
if len(d)>1:
  s=np.random.choice(d)
  print("the book was",s)
  book_sug,au=book_recommendation_engine(s)
  print("\nThe suugesstion for gien book",s)
  for x in book_sug:
    print(x,"by",au[y])
    y=y+1
    

else:
  reply=make_reply_nlp(f)
  print(reply)

In [ ]:

def make_reply(f):
  z=0
  y=0
  u=0
  mll=[]
  l=autocorrect(f,vocab, probs)
  temp=generateTitleCase(l)
  temp=temp.strip()
  agg = data[data['title'].str.contains(temp, na=False)]
  d=agg['title']
  if len(d)==1:
    d=d.reset_index(drop=True)
    print("the book was",d[0])
    book_sug,au=book_recommendation_engine(d[0])
    ss="The suugesstion for gien book"+d[0]
    mll.append((ss))
    for x in book_sug:
      m=x+" by "+au[y]
      y=y+1
      mll.append((m))
  if len(d)>1:
    s=np.random.choice(d)
    print("the book was",s)
    book_sug,au=book_recommendation_engine(s)
    print("\nThe suugesstion for given book",s)
    ss="The suugesstion for gien book"+s
    mll.append((ss))
    for x in book_sug:
      m= x+" by "+au[y]
      y=y+1
      mll.append((m))
  if len(d)==0:
     mll="try  some other books"
  return mll

In [ ]:
make_reply("hobbbit")

In [ ]:
delete_l=[]
split_l_for_sen = []
split_l_for_sen = [(word[:i], word[i:]) for i in range(len(word))]
delete_l = [s[0]+s[1][1:] for s in split_l_for_sen]

In [ ]:
split_l_for_sen

In [ ]:
delete_l[0]

In [ ]:
for j in range(len(word)):
  word_10=delete_l[j]
  split_l_for_sen1 = [(word_1[:k], word_1[k:]) for k in range(len(word_10))]
  for one in range(len(split_l_for_sen1[0])):
    for two in range(len(split_l_for_sen1)):
      if split_l_for_sen1[two][one] in file:
        print(split_l_for_sen1[two][one])

In [ ]:
import yaml

In [ ]:
with open('/content/drive/MyDrive/chatbot python/data/chatterbot_corpus/data/english/greetings.yml') as dataset:
  dataset_yaml=yaml.load(dataset)

In [ ]:
dataset_yaml

In [ ]:
for_dataset=data['title']

In [ ]:
newfile=open('/content/drive/MyDrive/chatbot python/data/chatterbot_corpus/data/english/canyou_lower.yml','w')

In [ ]:
for fil in for_dataset:
  fi=fil.replace("-"," to ").replace(" #",'').replace(":",'')
  fi_l=fi.lower()
  newfile.write('\n- - show me similar books like '+fi_l+'\n  - suggest '+fi)

In [ ]:
#def generateTitleCase(input_string):
  
    articles = ["a", "an", "the",'The']
    conjunctions = ["and", "but","for", "nor","or", "so","yet"]
    prepositions = ["in", "to", "for", "with", "on", "at","from", "by", "about","as", "into", "like","through", "after", "over","between", "out", "against","during", "without", "before","under", "around", "among","of"] 
    lower_case = articles + conjunctions + prepositions
    output_string = ""
    input_list = input_string.split(" ")
    for word in input_list:
        if word in lower_case:
            output_string += word + " "
        else:
            temp = word.title()
            output_string += temp + " "
    return output_string

In [ ]:
!pip install Flask

In [ ]:
!git clone "https://github.com/Arraxx/new-chatbot.git"

In [ ]:
!pip install chatterbot-corpus

In [ ]:
from chatterbot import ChatBot
from flask import Flask, render_template, request

app = Flask(__name__)
app.static_folder = 'static'

@app.route("/")
def home():
    return render_template("/content/new-chatbot/app/templates/index.html")

@app.route("/get")
def get_bot_response():
    userText = request.args.get('msg')
    return str(chatbot.get_response(userText))

if __name__ == "__main__":
    app.run()